@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">John Poku </h1>
    <h1 class="display-4">Wayne Chang </h1>

</div>
